.btn{
    border: none;
    padding: 10px 8px;
    margin: 5px 0px;
    font-size: 14px;
}
.btn-primary{
    background-color: $primary-color;
    color: $text-color;
}
.btn-icon{
    display: flex;
    align-items: center;
    height: 35px;
    font-family: $poppins;
}