body {
    margin: 0px !important;
    font-family: $poppins;
    font-weight: 400;
    font-style: normal;
}

.header{
    background-color: $primary-color;
    color: $text-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    form{
        display: flex;
        flex-direction: column;
        box-shadow: $box-shadow;
        max-width: 500px;
        width: 90%;
        padding: 50px 50px;
        background-color: white;
        gap: 10px;
    }
    .title{
        text-align: center;
        margin: 5px 10px;
    }
}
@media (max-width: $mobile){
    .login-container{

    }
}