$primary-color: #e67e22;
$secondary-color: #ffeaa7;
$third-color: #ecf0f1;
$text-color: #2d3436;
$line-color: #f2f2f2;
$red: #c0392b;
$white: #fff;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

$mobile: 768px;