@import './variable.scss';
@import './font.scss';
@import './input';
@import './button';
@import './container';
@import './admin';

.flex-column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}