:root{
  --primary:#ffbe76;
  --secondary:#f0932b;
  --white: #fff;
  --gray: #9b9b9b;
}

.full-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.vertical-center{
  align-items: center;
}

.login-container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 50%;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}
.form__field:focus .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary);
  font-weight:700;    
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}